body{
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.text{
    font-size: 3rem;
    color: #fff;
}
span{
    color: rgb(245, 79, 79);
}

/* Animation style */
.animation{
    animation-name: zoomIn;
}
.zoom_in{
    
    animation-duration: 1s;
    animation-iteration-count:infinite;
}
@keyframes zoomIn{
    0%{
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
    50%{
        opacity: 1;
    }
}